/*缩小边距（代码框、li等）*/
ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 21px;
}
ol > li {
    margin-block-end: 1em;
}

ol > li > p {
    margin-block-start: 0em;
}

/*缩小边距（代码框、li等）*/
.highlight{
    margin: 0 -0.5rem !important;
    padding: 10px 0 !important;
}

/*图片固定宽度*/
article .content img, article .content video {
    width: 70%!important;
    float: left;
}

/*滚动条背景透明*/
figure::-webkit-scrollbar{
  background-color: rgba(100,1,1,0);
}

/*概要缩小边框*/
article .content blockquote {
    margin: 1rem 0 !important;
    padding: 0.5em 0 !important;
}

/*代码优化*/
.highlight .code pre {
  font-size: 14px !important;
}

.content code{
  font-family: $font-family-body;
  border: 0;
  padding: 0 0;
  color: #d44375;
}

/*mermaid限制高度，居中*/
.mermaid {
  text-align: center;
}

/*表格沾满行*/
body table {
  display: table !important;
}

/*目录靠左对齐*/
#toc li {
  text-align: left !important;
  overflow: hidden !important;
  text-overflow:ellipsis !important;
  white-space: nowrap !important;
}
/*todo 隐藏二级目录*/
#toc {
  display: none !important;
}

/*h4 标题 粗体*/
body h4, body .h4 {
    color: #111;
    font-weight: bold;
}

/* 思维导图 修改你的模板css文件，添加全局样式 */
.mermaid {
  max-height: 200px;
  position: relative;
  overflow: hidden;
  &:after {
    content: 'Loading ...';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1f20;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mermaid[data-processed]{
  max-height: none;
  overflow: auto;
  &:after {
    content: none;
  }
}

